<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to threepape.rs</title>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/bootstrap/css/bootstrap-theme.min.css" %}
    {% style "/css/screen.css" %}

    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/assets/bootstrap/js/collapse.js" %}
    {% script "/js/jquery.mobile-1.4.5.js" %}
    <!--    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script type="text/javascript">
      $(".container").on("swipeleft", function(){
          console.log("left");
          window.location.href = "/user/{{prev}}";
      });
      $(".container").on("swiperight", function(){
          console.log("right");
          window.location.href = "/user/{{next}}";
      });
      $(".container").on("swipe", function(){ console.log("swipe")});

    </script>


    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
