{% extends "layout-base.html" %}
{% block content %}
{% include "user-site-nav.html" %}
  <main>
  <div class="row">
    <div class="col-xs-12">
      <img src="/img/{{userpic}}" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <main>
        <header id="user-details">
          <h2 class="name">{{name}}</h2>
        </header>
        {% for paper in papers %}
        {% include "paper.html" %}
        {% endfor %}
      </main>
    </div>
  </div>
  </main>
{% endblock %}
