{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <img src="/img/{{userpic}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <main>
        <header id="user-details">
          <h2 class="name">{{name}}</h2>
        </header>
        {% for paper in papers %}
        <article class="paper">
          <a href="{{paper.link}}"><h3 class="title">{{paper.title}}</h3></a>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
        {% endfor %}
      </main>
    </div>
  </div>
{% endblock %}
