{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-push-8">
      <nav id="sidebar">
        <a href="/"><img class="hover-invert" src="/img/logo.png" height="20px" alt-text="THREE PAPERS"/></a>
        <br/>
        <a href="/about"><img class="hover-invert" src="/img/about.png" height="14px" alt-text="ABOUT"/></a>
      </nav>
    </div>
    <div class="col-xs-12 col-md-8 col-md-pull-4">
      <main role="main">
        {% for user in users %}
        <article class="user">
          <div class="row">
            <div class="col-xs-12 col-md-9 col-md-push-3">
              <figure>
                <a href="/user/{{user.id}}">
                  <img src="/img/{{user.userpic}}" width="100%"/>
                </a>
              </figure>
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-9">
              <header>
                <h3 class="name">
                  <a href="/user/{{user.id}}">
                    {{user.name}}
                  </a>
                </h3>
              </header>
            </div>
          </div>
          <hr/>
        </article>
        {% endfor %}
      </main>
    </div>
  </div>
{% endblock %}
