{% extends "base.html" %}
{% block page-scripts %}
    <script type="text/javascript">
      var goPrev = function() {
      console.log("prev");
          window.location.href = "/user/{{prev}}";
      };
      var goNext = function() {
      console.log("next");
          window.location.href = "/user/{{next}}";
      };
      $(".container").on("swipeleft", goNext);
      $(".container").on("swiperight", goPrev);
      // $(".container").on("swipe", function(){ console.log("swipe")});

      $(document).keydown(function(e) {
        switch(e.which) {
          case 37: // left
          goPrev();
          break;
          case 39: // right
          goNext();
          break;
          default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
      });
    </script>
{% endblock %}
