{% extends "layout-base.html" %}
{% block content %}
{% include "user-site-nav.html" %}
  <main>
    <div class="row">
      <div class="col-lg-8 col-xs-12">
        <header class="user">
          <img src="/img/{{userpic}}" width="100%"/>
          <h2 class="name">{{name}}</h2>
        </header>
      </div>
      {% for paper in papers %}
      {% if forloop.first %}
      <div class="col-lg-4 col-xs-12">
      {% else %}
      <div class="col-lg-6 col-xs-12">
      {% endif %}
        <article class="paper {% if forloop.first %}align-right-lg{% endif %}{% if forloop.last %}align-right-lg{% endif %}">
          <h4 class="title"><a href="{{paper.link}}">{{paper.title}}</a></h4>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
      </div>
      {% if forloop.first %}
      </div><div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
