{% extends "layout-base.html" %}
{% block content %}
{% include "user-site-nav.html" %}
  <main>
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <header class="user">
          <img src="/img/{{userpic}}" width="100%"/>
          <div class="row">
            <div class="col-md-8 col-md-push-4">
              <h2 class="name">{{name}}</h2>
            </div>
          </div>
        </header>
      </div>
      <div class="col-md-7 col-xs-12">
        {% for paper in papers %}
        <article class="paper small">
          <h4 class="title"><a href="{{paper.link}}">{{paper.title}}</a></h4>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
