{% extends "layout-base.html" %}
{% block content %}
{% include "user-site-nav.html" %}
    <main>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <header class="user">
          <img src="/img/{{userpic}}" width="100%"/>
          <h3 class="name palaitis-right">{{name}}</h3>
        </header>
      </div>
      <div class="col-md-4 col-xs-12">
        {% for paper in papers %}
        {% if not forloop.first %}
        <div class="row">
            <div class="col-xs-12">
                {% include "paper.html" %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-push-1 col-xs-12">
        {% for paper in papers %}
        {% if forloop.first %}
        {% include "paper.html" %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
