{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-10 col-xs-12">
      <nav>
        <a href="/">3 PAPERS</a> | <a href="/about">ABOUT</a>
      </nav>
    </div>
  </div>
  <main>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12">
        <header class="user">
          <h2 class="name">{{name}}</h2>
          <img src="/img/{{userpic}}" width="100%"/>
        </header>
      </div>
      <div class="col-lg-5 col-md-6 col-xs-12">
        {% for paper in papers %}
        {% if forloop.first %}
        <article class="paper align-right">
          <h4 class="title"><a href="{{paper.link}}">{{paper.title}}</a></h3>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      {% for paper in papers %}
      {% if not forloop.first %}
      <div class="col-lg-4 col-md-5 col-xs-12">
        <article class="paper{% if forloop.last %} align-right{% endif %}">
          <h4 class="title"><a href="{{paper.link}}">{{paper.title}}</a></h3>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
