{% extends "layout-base.html" %}
{% block content %}
  {% include "user-site-nav.html" %}
  <main>
    <div class="row" style="height: 100%">
      <div class="col-md-6 col-xs-12 col-md-push-6">
        <header class="user">
          <img src="/img/{{userpic}}" width="100%" height="100%"/>
          <h2 class="name">{{name}}</h2>
        </header>
      </div>
      <div class="col-md-6 col-xs-12 col-md-pull-6">
        {% for paper in papers %}
        <article class="paper">
          <h3 class="title"><a href="{{paper.link}}">{{paper.title}}</a></h3>
          <p class="authors">{{paper.authors}}</p>
          <div class="story">
            {{paper.story|markdown}}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
